body {
    font-family: 'INTRO', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'INTRO';
    src: url('font/IntroDemo-BlackCAPS.otp') format('opentype'),
         url('font/IntroDemo-BlackCAPS.otp') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.product {
    border: 2px solid rgba(0, 0, 0, 0.7); /* Темная граница */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    margin: 15px;
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-description {
    background-color: rgba(0, 0, 0, 0.6); /* Черный фон с прозрачностью */
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.product h2, .product p {
    font-family: 'INTRO', Arial, sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.account {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    margin-bottom: 20px;
}

.account img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.account h2 {
    animation: typing 2s steps(30, end) 1s forwards;
    overflow: hidden;
    border-right: 3px solid rgba(0,0,0,0.75);
    white-space: nowrap;
   font-family: 'INTRO', Arial, sans-serif;
    width: 0; /* Не забудь добавить начальное значение для корректной работы анимации */
}

.account p {
    animation: typing 3s steps(50, end) 2s forwards;
    overflow: hidden;
    border-right: 3px solid rgba(0,0,0,0.75);
    white-space: nowrap;
   font-family: 'INTRO', Arial, sans-serif;
    width: 0; /* Не забудь добавить начальное значение для корректной работы анимации */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
